@model IEnumerable<SocialNetwork.Models.DTO.UserDTO>

@{
    ViewData["Title"] = "User Management";
}
@Html.Partial("_Header")
<div class="main-content">
    <h2>User Management</h2>
    <a href="/Users/Create" class="btn btn-primary">Create New User</a>
    <div class="user-list">
        <input type="text" id="searchUsers" placeholder="Search Users" class="form-control" />
        <ul class="user-list">
            @foreach (var user in Model)
            {
                <li class="list-group-item">
                    <img src="@user.ProfilePictureUrl" alt="Profile Picture" />
                    @user.FullName (@user.Username)
                    <a href="/Users/Edit/@user.Id" class="btn btn-info">Edit</a>
                    <form asp-action="BanUser" method="post" style="display:inline;">
                        <input type="hidden" name="id" value="@user.Id" />
                        <button type="submit" class="btn btn-warning">@user.IsBanned ? "Unban" : "Ban"</button>
                    </form>
                </li>
            }
        </ul>
    </div>
</div>
@Html.Partial("_Footer")
