@model SocialNetwork.Models.ViewModels.FriendshipViewModel

<div class="row">
    <div class="col-md-4">
        <input type="text" id="searchFriends" class="form-control mb-3" placeholder="Search Friends" />
        <ul class="list-group friends-list">
            @foreach (var friend in Model.Friends)
            {
                <li class="list-group-item friend-link" data-id="@friend.UserId">
                    <img src="@friend.ProfilePictureUrl" alt="Profile Picture" class="img-thumbnail rounded-circle" />
                    @friend.FullName
                </li>
            }
        </ul>
        <input type="text" id="searchAllUsers" class="form-control my-3" placeholder="Search All Users" />
        <ul class="list-group all-users-list">
            @foreach (var user in Model.AllUsers)
            {
                <li class="list-group-item user-link" data-id="@user.UserId">
                    <img src="@user.ProfilePictureUrl" alt="Profile Picture" class="img-thumbnail rounded-circle" />
                    @user.FullName
                </li>
            }
        </ul>
        <h4>Incoming Friend Requests</h4>
        <ul class="list-group incoming-requests-list">
            @foreach (var request in Model.IncomingRequests)
            {
                <li class="list-group-item request-link" data-id="@request.UserId">
                    <img src="@request.ProfilePictureUrl" alt="Profile Picture" class="img-thumbnail rounded-circle" />
                    @request.FullName
                    <button id="acceptRequest" class="btn btn-success btn-sm" data-id="@request.UserId">Accept</button>
                    <button id="declineRequest" class="btn btn-danger btn-sm" data-id="@request.UserId">Decline</button>
                </li>
            }
        </ul>
    </div>
    <div class="col-md-8" id="userDetails">
        <!-- User details will be loaded here -->
    </div>
</div>
