@model SocialNetwork.Models.ViewModels.UserProfileViewModel

@{
    ViewData["Title"] = "Profile";
    var avatar = Model.ProfilePictureUrl ?? "~/images/default-avatar.png";
}

<div class="profile-container">
    <div class="profile-avatar-container">
        <img src="@avatar" alt="Avatar" class="profile-avatar">
        <h2>@Model.FullName</h2>
        @if (User.FindFirst("UserId")?.Value == Model.Id.ToString())
        {
            <a class="btn btn-primary" href="@Url.Action("Edit", "Profile", new { id = Model.Id })">Edit</a>
        }
    </div>
    <div class="profile-details">
        <h3>Details</h3>
        <p>Дата рождения: @Model.DateOfBirth.ToString("d")</p>
        <p>Пол: @Model.Gender</p>
        <p>Роль: @Model.Role</p>
    </div>
</div>

<div class="posts-container">
    <h3>Posts</h3>
    <div id="posts-container">
        @foreach (var post in Model.Posts)
        {
            @Html.Partial("_Post", post)
        }
    </div>
</div>
